@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 430px) {

    main {
        top: 0;
    }

    .cd {
        top: 0;
    }

    .container {
        display: block;
        padding: 10px;
        height: 100%;
    }

    .image {
        display: none;
    }

    .img-mobile {
        display: block;
        margin-bottom: 0;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .card {
        display: inherit;
        margin-top: 0;
        position: relative;
        border-radius: 0 0 10px 10px;
        width: auto;
        padding-bottom: 35px;
    }

    .price {
        top: 25px;
        right: 50px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .btn { left: 2px; }

    footer { top: 30px; }

    .attribution {
        position: relative;
        width: 260px;
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .cd {
        top: 0;
    }

    .container {
        display: block;
        padding: 10px;
    }

    .image {
        display: none;
    }

    .img-mobile {
        display: block;
        margin-bottom: 0;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .card {
        display: inherit;
        margin-top: 0;
        position: relative;
        border-radius: 0 0 10px 10px;
        width: auto;
    }

    .price {
        top: 35px;
        right: 30px;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .btn { left: 2px; }

    .attribution {
        width: 260px;
        margin: auto;
    }
}